.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.social {
  margin-top: 50px;
}

.link {
  background-color: #536dfe;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  transition: all 0.5s ease-out;
}

.link:hover {
  color: #333;
  background-color: #fff;
  color: #536dfe;
}
